@model Proiect_final.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

@Html.Label("Name", "Name:")
<br />
<p>@Model.Name</p>

@Html.Label("Price", "Price:")
<br />
<p>@Model.Price $</p>

@Html.Label("Description", "Description")
<br />
<p>@Model.Description $</p>

<br />
<h3>
    You can find the product <a href="@Model.ShopLink" target="_blank">here</a>
</h3>
<br />

@if (Model.CelebritiesWhoRecommand.Count > 0)
{
    @Html.Label("CelebritiesWhoRecommand", "Celebrities who recommand:")
    <br />
    <ul>
        @foreach (var celebrity in Model.CelebritiesWhoRecommand)
        {
            <li><strong>@celebrity.Name :</strong></li>

            <p>@celebrity.Testimonial.Comment</p>
            <br />
        }
    </ul>
}