
@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>

@foreach (var product in ViewBag.Products)
{
<div class="panel-body">
    @Html.Label("Name", "Name:")
    <br />
    <p>@product.Name</p>
    <br />

    <img src="@Url.Content(product.Gallery.ImageUrl1)" />
    <img src="@Url.Content(product.Gallery.ImageUrl2)" />
    <img src="@Url.Content(product.Gallery.ImageUrl3)" />

    @using (Html.BeginForm(
            actionName: "Details", controllerName: "Product", method: FormMethod.Get,
            routeValues: new { id = product.ProductId }))
    {
        <button class="btn btn-primary">Details</button>
    }
</div>
}

